.card {
	box-shadow: 0 1px 2px rgba(0,0,0,0.15);
	transition: box-shadow 0.3s ease-in-out;
}
.card:hover {
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}
.card .card-content p {
	min-height: 50px;
	margin: 0;
	color: inherit;
}
.card .card-content .card-title {
	line-height: 48px;
	/*font-size: 20px;*/
}
